:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  border: 1px solid #EEE;
  padding: 2em;
  border-radius: 8px;
}

form { 
  display: grid;
  align-items: center;
  gap: 1rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

label {
  font-size: x-large;
}

input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  background-color: #EEE;
}

input:focus{
  outline: none;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  background-color: #EEE;
  color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
}

#qr-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #EEE;
  border-radius: 8px;
  transition: all ease;
}

#qr-image img[src=""] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #EEE;
  }
  button {
    background-color: #EEE;
  }
}
